<div>
    <h2 data-translate="registrationBookApp.doctorVisit.home.title">Doctor Visits</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="doctor-visit.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="registrationBookApp.doctorVisit.home.createLabel">
                        Create new Doctor Visit
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="visitData"><span data-translate="registrationBookApp.doctorVisit.visitData">Visit Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="visitEndData"><span data-translate="registrationBookApp.doctorVisit.visitEndData">Visit End Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="createdBy"><span data-translate="registrationBookApp.doctorVisit.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="createdDate"><span data-translate="registrationBookApp.doctorVisit.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="lastModifiedBy"><span data-translate="registrationBookApp.doctorVisit.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="lastModifiedDate"><span data-translate="registrationBookApp.doctorVisit.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="doctorId"><span data-translate="registrationBookApp.doctorVisit.doctor">Doctor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="roomId"><span data-translate="registrationBookApp.doctorVisit.room">Room</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doctorVisit in vm.doctorVisits track by doctorVisit.id">
                    <td><a ui-sref="doctor-visit-detail({id:doctorVisit.id})">{{doctorVisit.id}}</a></td>
                    <td>{{doctorVisit.visitData | date:'medium'}}</td>
                    <td>{{doctorVisit.visitEndData | date:'medium'}}</td>
                    <!--<td>{{doctorVisit.createdBy}}</td>-->
                    <!--<td>{{doctorVisit.createdDate | date:'medium'}}</td>-->
                    <!--<td>{{doctorVisit.lastModifiedBy}}</td>-->
                    <!--<td>{{doctorVisit.lastModifiedDate | date:'medium'}}</td>-->
                    <td>
                        <a ui-sref="doctor-detail({id:doctorVisit.doctorId})">{{doctorVisit.doctorName}}</a>
                    </td>
                    <td>
                        <a ui-sref="consult-room-detail({id:doctorVisit.roomId})">{{doctorVisit.roomName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="doctor-visit-detail({id:doctorVisit.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="doctor-visit.edit({id:doctorVisit.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="doctor-visit.delete({id:doctorVisit.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
