<div>
    <h2 data-translate="registrationBookApp.doctor.home.title">Doctors</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="doctor.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="registrationBookApp.doctor.home.createLabel">
                        Create new Doctor
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="registrationBookApp.doctor.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fullName"><span data-translate="registrationBookApp.doctor.fullName">Full Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gender"><span data-translate="registrationBookApp.doctor.gender">Gender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nationality"><span data-translate="registrationBookApp.doctor.nationality">Nationality</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imgurl"><span data-translate="registrationBookApp.doctor.imgurl">Imgurl</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="profession"><span data-translate="registrationBookApp.doctor.profession">Profession</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mobilephone"><span data-translate="registrationBookApp.doctor.mobilephone">Mobilephone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="active"><span data-translate="registrationBookApp.doctor.active">Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span data-translate="registrationBookApp.doctor.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="registrationBookApp.doctor.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedBy"><span data-translate="registrationBookApp.doctor.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedDate"><span data-translate="registrationBookApp.doctor.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doctor in vm.doctors track by doctor.id">
                    <td><a ui-sref="doctor-detail({id:doctor.id})">{{doctor.id}}</a></td>
                    <td>{{doctor.userId}}</td>
                    <td>{{doctor.fullName}}</td>
                    <td>{{doctor.gender}}</td>
                    <td>{{doctor.nationality}}</td>
                    <td>{{doctor.imgurl}}</td>
                    <td>{{doctor.profession}}</td>
                    <td>{{doctor.mobilephone}}</td>
                    <td>{{doctor.active}}</td>
                    <td>{{doctor.createdBy}}</td>
                    <td>{{doctor.createdDate | date:'medium'}}</td>
                    <td>{{doctor.lastModifiedBy}}</td>
                    <td>{{doctor.lastModifiedDate | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="doctor-detail({id:doctor.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="doctor.edit({id:doctor.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="doctor.delete({id:doctor.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
