
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRegistrationBookLabel" data-translate="registrationBookApp.registrationBook.home.createOrEditLabel">Create or edit a Registration Book</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.registrationBook.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.registrationBook.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="registrationBookApp.registrationBook.deptName" for="field_deptName">Dept Name</label>
            <select class="form-control" name="deptName" id="field_deptName" ng-model="vm.thirdLevelDepartment" ng-options="thirdLevelDepartment as thirdLevelDepartment.deptName for thirdLevelDepartment in vm.thirdLevelDepartments track by thirdLevelDepartment.id">
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="registrationBookApp.registrationBook.doctorName" for="field_doctorName">Doctor Name</label>
            <select class="form-control" name="doctorName" id="field_doctorName" ng-change="vm.getDoctorVisit()" ng-model="vm.thirdLevelDepartment.doctor" ng-options="doctor as doctor.fullName for doctor in vm.thirdLevelDepartment.doctors track by doctor.id">
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="registrationBookApp.registrationBook.visitDateTime" for="field_visitDateTime">Visit Date Time</label>
            <select class="form-control" name="visitDateTime" id="field_visitDateTime" ng-model="vm.doctorVisit" ng-options="doctorVisit as doctorVisit.visitData for doctorVisit in vm.doctorVisits track by doctorVisit.id">
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
